* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

template{
   color: rgb(17, 16, 41);

}
div.header{
  color: rgb(17, 16, 41);
  text-align: center;
  padding: 20px;
}
section{
  min-height: 100vh;
  width: 100%;
}
div.Galeria{
  width: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 30vh;
}
div.Galeria div.img-galeria{
  border-radius: 10px;
  margin: 1.3vw;
}
.h-2{
  grid-row: span 2;
}
.w-2{
  grid-column: span 2;
}
div.Galeria div.img-galeria img{
  width: 100%;
  height: 100%;
   border-radius: 7px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}
div.Galeria div.img-galeria img:hover{
  transform: scale(1.1);


}

/* .rodape{
  color: #484f65;
  width: none;
  padding: 50px;
  padding-left: 49px;
  
} */
.rodape{
    position: relative; 
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 10px 40px 10px;
    max-width: 1200px; 
    width: 100%;
    gap: 40px; 

}
p{
  color: #484f65;
  font-size: 30px;

}

h1{
  margin: 20px;
  text-align: center;
  font-size: 40px;
  color:#484f65;

}
h2{
  text-align: center;
  font-size: 20px;
  color: #484f65
}

  

hr{
  display: block;
  align-items: center;
  height: 0;
  box-sizing: content-box;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  
}
body{
  background-color: #0c1633;
}
 div.seache{
  border-radius: 7px;
  color:#313541
 }
 input{
  padding: 6px;
   border-radius: 6px;
   background-color: #313541;
  }
 
